<h1>Restaurants#index</h1>
<%= link_to "â•",  new_restaurant_path %>

   <div class="cards">
      <% @restaurants.each do |restaurant| %>
            <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
            <p><%= restaurant.category %> - <strong><%= restaurant.address %></strong></p>

      <% end %>


    </div>
